*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
.App,
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Coustard", serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/hamsters.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
